@using HackathonReembolso.Framework
@using HackathonReembolso.Framework.MVC.Components

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="Sistema RBAC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="@HelperConstants.Logos/gsnet.ico" type="image/x-icon">

    <!--Basic Styles-->
    <link href="@HelperConstants.Template/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="@HelperConstants.Template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="@HelperConstants.Template/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="@HelperConstants.Template/css/beyond.min.css" rel="stylesheet" />
    <link href="~/assets/css/select2.min.css" rel="stylesheet" />
    <link href="@HelperConstants.Template/css/demo.min.css" rel="stylesheet" />
    <link href="@HelperConstants.Template/css/typicons.min.css" rel="stylesheet" />
    <link href="@HelperConstants.Template/css/animate.min.css" rel="stylesheet" />
    <link href="@HelperConstants.Cdn/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Autocomplete-->
    <link href="@HelperConstants.Cdn/jquery/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
    <style>
        .ui-autocomplete-loading {
            background: white url("@HelperConstants.Cdn/jquery/jquery-ui-1.11.4.custom/images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>

    <!--Dimensão do controle de paginação -->
    <style>
        #goToPageNumber {
            width: 50px !important; 
        }
    </style>

    <!-- Site css -->
    <link href="@HelperConstants.Cdn/site/bootstrap-helper.css" rel="stylesheet" />
    <link href="@HelperConstants.Cdn/site/gsnet-site.css" rel="stylesheet" />

    <!-- Gsnet Scripts: Place this script in head to load scripts for "Skin Script" support-->
    <script src="@HelperConstants.Cdn/site/gsnet-namespace.js"></script>
    <script src="@HelperConstants.Cdn/site/gsnet-site.js"></script>
    <script>
        Gsnet.Site().SetURL('@ScriptHelper.GetBaseUrl()');
        Gsnet.Site().SetCDN('@HelperConstants.Cdn');
    </script>

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="@HelperConstants.Template/js/skins.js"></script>    
    
    <!-- page css -->
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()

    <!--Basic Scripts-->
    <script src="@HelperConstants.Template/js/jquery.min.js"></script>
    <script src="@HelperConstants.Template/js/bootstrap.min.js"></script>
    <script src="@HelperConstants.Template/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="@HelperConstants.Cdn/jquery/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

    <!--Beyond Scripts-->
    <script src="@HelperConstants.Template/js/beyond.min.js"></script>

    <!--Bootstrap Tags Input-->
    <script src="@HelperConstants.Template/js/tagsinput/bootstrap-tagsinput.js"></script>

    <!--Bootstrap Select-->
    <script src="~/assets/js/select2.min.js"></script>

    <!--Gsnet Scripts-->
    <script src="@HelperConstants.Cdn/site/gsnet-alerts.js"></script>
    <script src="@HelperConstants.Cdn/site/gsnet-dialogs.js"></script>
    <script src="~/Content/js/core/HttpProxy.js"></script>
    <script src="~/Content/js/model-base-ko.js"></script>

    <!-- Controle de sessão -->
    <script src="~/Content/js/site/ajax-setup.js"></script>

    <script>
        // InternalSite foi definido dentro de ajax-setup extendendo Gsnet.Site
        InternalSite.SetLoginURL("@FormsAuthentication.LoginUrl");
    </script>

    <script>
        // evita que o ENTER seja pressionado e um post seja enviado a página nas consultas, cadastros etc.
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            // move a tabela para uma DIV chamada container-table-data que a deixará responsive
            //$("#tabData").appendTo("#container-table-data").appendTo("#tableBody");
        });
    </script>

    <!-- page scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>


